body{
    /*
    background-image: url("../img/cover1.jpg");
    background-image: url("../img/cover2.jpeg");
    background-image: url("../img/cover3.jpg");
    */
    background-color: rgba(0,0,0,0.4);
    background-image: url("../img/album2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    /*height: calc(100vh + 2000px + 60px);*/
    position: relative;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#album_title{
    display: flex;
    flex: 1;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#album_title h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 78px;
}
#album_body{
    height: auto;
    /*max-height: 110vh;
    min-height: 110vh;*/
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}
#album_lib{
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    justify-content: center;
}
img{
    width: 100%;
    max-width: 360px;
    height: auto;
}